
#page { 
max-width: 1200px;
min-width:300px;
margin:0 auto;
position:relative;
background-color:#b3c6ff;
font-family: 'Roboto', sans-serif;

}

	header  {
		height:160px;
		background-image: url(images/banner_625.jpg);
		background-position: left top;
	}
	
	header a.logo {
		position:absolute;
		display:block;
		width:160px;
		height:36px;
		background: rgba(0,0,0,.65) url(images/Geschiedenis.svg) no-repeat center;
		background-size:contain;
		width:100%;
	}
	
	header a.logo span {
		display:none;
}
	
		header div.hero {
		position:absolute;
		width:60%;
		left:20%;
		text-align:center;
	}
	
	header div.hero h1 {
		position:relative;
		font-size:1.6em;
		line-height:1em;
		margin-bottom:60px;
		top: 50px;
		color: white;

	}

	section {
		padding:0 30px;
	
}

	section::after {
		content:'';
		display:block;
		clear:both;
}

	section.section1 {
		position:relative;
		margin-top:20px;
		margin-bottom:30px;
		padding:0;
	}
	
	section.section1 aside {
		width:100%;
		text-align:center
	}
	
		section.section1 .content {
		margin: 15px;
		background: no-repeat center top;
		background-size: 75px 75px;
		padding-top:85px;
	}
	
	
	section.section1 aside div.content {
		margin:0px 0px px 0;
		padding:5px 0px 10px 85px;
		background-size: 50px 50px;
		background-position:20px 5px;
		
	}

section.section1 aside h3 a {
	color:black;
	text-decoration:none;
	
}

section.section1 aside h3 a:hover {
	color:blue;
	
}

section.section1 aside .content.content1 {
	background-image: url(images/arpanet.gif);
		background-size: 150px 150px;
		padding:150px 0px 10px 0px;
		background-position: top center;

}

section.section1 aside .content.content2 {
	background-image: url(images/rtd-eunet-95-1.png);
		background-size: 150px 150px;
		padding:150px 0px 10px 0px;
		background-position: top center;
}

section.section1 aside .content.content3 {
	background-image: url(images/nl-large-logo-1.png);
		background-size: 150px 150px;
		padding:150px 0px 10px 0px;
		background-position: top center;
}

section.section1 aside .content.content4 {
	background-image: url(images/lycos-1996.png);
		background-size: 150px 150px;
		padding:150px 0px 10px 0px;
		background-position: top center;
}

section.section1 aside .content.content5 {
	background-image: url(images/webshop2.jpg);
		background-size: 150px 150px;
		padding:150px 0px 10px 0px;
		background-position: top center;
}

section.section1 aside .content.content6 {
	background-image: url(images/SixDegrees.org_logo.jpg);
		background-size: 150px 150px;
		padding:150px 0px 10px 0px;
		background-position: top center;
}

section.section1 aside .content.content7 {
	background-image: url(images/wireless_internet_intro.jpg);
		background-size: 150px 150px;
		padding:150px 0px 10px 0px;
		background-position: top center;
}

section.section1 aside .content.content8 {
	background-image: url(images/download.jpg);
		background-size: 150px 150px;
		padding:150px 0px 10px 0px;
		background-position: top center;
}

section.section1 aside .content.content9 {
	background-image: url(images/Tim-Berners-Lee-There-Are-Over-a-Billion-Websites-459062-2.jpg);
		background-size: 150px 150px;
		padding:150px 0px 10px 0px;
		background-position: top center;
}










@media screen and (min-width: 1200px) {


	header  {
		height:430px;
		background-image:url(images/banner_1200.jpg);
		position:relative;
	}

section.section1 aside {
	width: 33%;
	float: left;
	text-align:center;
}

	section.section1 .content {
		margin: 15px;
		background: no-repeat center top;
		background-size: 75px 75px;
		padding-top:85px;
	}
	
			header div.hero {
		font-size:2em;
		position:absolute;
		width:42%;
		top: 40px;
		left:55%;
	}

}



@media screen and (min-width: 1000px) and (max-width: 1200px)  {
	body {
		max-width:1200px;
	}
	
	h1 {
		font-size: 1.2em;
	}
	
	header  {
		height:430px;
		background-image:url(images/banner_1200.jpg);
		position:relative;
	}
	header div.hero {
		font-size:2em;
		position:absolute;
		width:35%;
		top: 40px;
		left:60%;
	}
	section.section1 aside {
		width: 33%;
		float: left;
		text-align:center;
}
	
}

@media screen and (min-width: 825px) and (max-width: 1000px)  {
	body {
		max-width:1200px;
	}
	
	h1 {
		font-size: 1.2em;
	}
	
	header  {
		height:430px;
		background-image:url(images/banner_1200.jpg);
		position:relative;
	}
	header div.hero {
		font-size:1.5em;
		position:absolute;
		width:40%;
		top: 40px;
		left:60%;
	}
	
	section.section1 aside {
		width: 33%;
		float: left;
		text-align:center;
}
	
}


@media screen and (min-width: 640px)  and (max-width: 825px) {
	h1 {
		font-size: 1em;
	}
		header  {
		height:300px;
		background-image:url(images/banner_825.jpg);
		
	}
	
		header div.hero {
		font-size:1.5em;
		position:absolute;
		width:42%;
		top: 40px;
		left:55%;
	}
	
	section.section1 aside {
	width: 33.3%;
	float: left;
	text-align:center;
	padding-bottom:0px;
}
	
	section.section1 {
		margin-top:10px;
		margin-bottom:10px;
	}
	section.section1 aside div.content {
		background-size: 55px 55px;
	}
	
}



@media screen and (max-width: 420px) {
	header {
		height:110px;
		background-image: url(images/banner_425.jpg);
	}
	header a.logo {
		height:36px;
		background: rgba(0,0,0,.65) url(images/Geschiedenis.svg) no-repeat center;
		background-size: 100% 17px;
	}
	
	header div.hero {
		position:absolute;
		width:60%;
		left:20%;
		top:-15px;
	}
	
	header div.hero h1 {
		font-size: .8em;
		margin-bottom:60px;
		top: 50px;
	}
	header div.hero a.btn {
		padding:2px 30px;
		font-size:.8em;
	}
	header div.hero a.btn span {
			display:none;
		}
}

